body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  color: #111238;
}
a {
  text-decoration: none;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}
.menu-link {
  color: #111238;
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 40px;
}
.button-primary {
  display: inline-block;
  background: #1a75e8;
  border-radius: 5px;
  padding: 15px 30px;
  color: #fff;
}
