*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  color: #111238;
}
a {
  text-decoration: none;
}
.header {
  background: #f2f3f6;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}
.menu-link {
  color: #111238;
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 40px;
}
.button-primary {
  display: inline-block;
  background: #1a75e8;
  border-radius: 5px;
  padding: 15px 30px;
  color: #fff;
  border: none;
}
.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}
.button-text {
  font-size: 16px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 15px;
  margin-top: 43px;
}
.hero-description {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}
.input-group {
  background: #fff;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
.input {
  background-color: #fff;
  border: none;
  font-size: 16px;
  flex-grow: 1;
  padding-left: 15px;
}
.input:focus {
  outline: 1px dotted #666;
}
.tags-group {
  padding-left: 15px;
  color: #b2b2b2;
}
.tags-label {
  padding-right: 5px;
  font-size: 14px;
}
.tag {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 14px;
}
.section {
  padding: 70px 0 80px 0;
}
.section-title {
  margin: 0 0 40px 0;
}
.card {
  color: #111238;
  background: #f2f3f6;
  border-radius: 10px;
  padding: 35px;
  transition: background-color 0.2s, color 0.2s;
}
.card:hover {
  background: #1a75e8;
  color: #fff;
}
.card:hover .card-icon {
  fill: #fff;
}
.card-icon {
  fill: #111238;
  margin-bottom: 15px;
  transition: fill 0.2s;
}
